name: ProdDeploy
on: 
    push:
        branches: [ main ]
    workflow_dispatch:
jobs:
  deploy:
    environment: hipocheck_prod
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Deploy to server
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.SERVER_IP }}
        username: ${{ vars.SERVER_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          cd /var/www/html/hipocheck-backend
          git reset --hard
          git pull --rebase origin main
          
